.avatarImg{
    width: 100px;
    height: 100px;
}

.currentPage {
    font-weight: bold;
}

.pages div{
    padding-left: 5px;
}

.pages {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1000px;
}