.nav {
    grid-area: n;
    /*background-color: darkgreen;*/
    /*border: 1px solid black;*/
    background-color: green;
    margin-top: 10px;
    width: 100%;
}

.items a{
    color: white;
    text-decoration: none;
    /*padding: 10px;*/

}

.items{
    padding: 10px;
    height: 15px;
    /*border: 1px solid black;*/
    text-align: center;

    margin: 10px 0 0 0;

}

.items a:hover{
    color: greenyellow;
}

.items .active {
    color: gold;
    text-decoration: none;


}

